ion-header {
  --background: #FFD700; 
  --color: #002E5D; 
}

ion-content {
  --background: #F5F5F5;
}

.welcome-container {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 184, 0, 1);
  color: black;
  margin-bottom: 20px;
}

.welcome-container h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.welcome-container p {
  font-size: 16px;
}

.info-card {
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

ion-card-title {
  font-size: 18px;
  color: white;
}

ion-card-content p {
  font-size: 14px;
  color: #333;
}

ion-button {
  background-color: #FFD700;
  color: #002E5D;
  border-radius: 10px;
}

ion-button:hover {
  background-color: #002E5D;
  color: #FFD700;
}

.map-button {
  --background: #4CAF50;
  --color: white;
  --border-radius: 50%;
  --padding: 0.75rem;
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.map-button ion-icon {
  font-size: 1.5rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: auto;
}

.logo {
  width: 120px;
  z-index: 1;
}
