ion-content {
    --background: #f2f2f2;
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  
  ion-button {
    --background: #004aad;
    --color: white;
    --border-radius: 8px;
    font-size: 16px;
    margin-bottom: 12px;
  }
  
  ion-toolbar {
    --background: #6200ea;
  }
  